doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/home.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script.
            listItems = !{listItems};  //https://stackoverflow.com/questions/8698534/how-to-pass-variable-from-jade-template-file-to-a-script-file
            function selecpok() {
                //alert("selecpok()");
                // efface le contenue de imagepok
                $('#imagepok').html('');
                //use old sprites (151 pokemon)
                var uri = "https://img.pokemondb.net/sprites/red-blue/normal/";
                uri += $("#ChoixPokemon").val() + "-color.png";
                //or use new sprites (all pokemon)
                //var uri = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/";
                //uri += $("#ChoixPokemon").val() + ".png";

                // Création de l'image dans la div imagepok
                $("#imagepok").append($("<img>").attr("src", uri));
                SearchPokemon1();
            }
            function generatestats(pokemon1) {
                //alert("generatestats()");
                $("#speed1").html('</p> Speed :' + pokemon1.stats[0].base_stat + '</p>');
                $("#sdefense1").html('</p> Special Defense :' + pokemon1.stats[1].base_stat + '</p>');
                $("#sattack1").html('</p> Special Attack:' + pokemon1.stats[2].base_stat + '</p>');
                $("#defense1").html('</p> Defense :' + pokemon1.stats[3].base_stat + '</p>');
                $("#attack1").html('</p> Attack:' + pokemon1.stats[4].base_stat + '</p>');
                $("#hp1").html('</p> Hp :' + pokemon1.stats[5].base_stat + '</p>');
            };
            function cleanpokemon(pokemon1) {
                //alert("cleanpokemon()");
                $('#speed').html('');
                $("#speed1").html('');
                $("#sdefense1").html('');
                $("#sattack1").html('');
                $("#defense1").html('');
                $("#attack1").html('');
                $("#hp1").html('');
                $("#AttackA1").html('');
                $("#AttackA2").html('');
                $("#AttackA3").html('');
                $("#AttackA4").html('');
                $("#Objet1").html('');
            }
            function Attak1(pokemon1) {
                //alert("Attak1()");
                for (var j = 1; j <= 4; j++) {
                    for (var i = 0; i < pokemon1.moves.length; i++) {
                        var opt = $("<option>");
                        opt.text(pokemon1.moves[i].move.name);
                        $("#AttackA" + j).append(opt);
                    }
                }
            }
            function Objet1(pokemon1) {
                //alert("Objet1()");
                console.log(listItems);
                for (var i = 0; i < listItems.length; i++) {
                    var opt = $("<option>");
                    opt.text(listItems[i].name);
                    $("#Objet1").append(opt);
                    //alert("lol");
                }
            }
            function AfficherPokemon1(pokemon1) {
                //alert("AfficherPokemon1()");
                cleanpokemon(pokemon1);
                generatestats(pokemon1);
                Attak1(pokemon1);
                Objet1(pokemon1);
            }
            function SearchPokemon1() {
                //alert("SearchPokemon1()");
                var PokemonAPI5 = "http://pokeapi.co/api/v2/pokemon/";
                PokemonAPI5 += $("#ChoixPokemon").val();
                $.getJSON(PokemonAPI5, function (data) {
                    AfficherPokemon1(data);
                });

            }
        title Pokemon
    body
        img(src='../images/pokemon_logoGB.png', alt='logo pokemon')
        div
            select#ChoixPokemon(onchange="selecpok()")
                option select a pokemon
                //-for(var i = 0 ; i <= 720 ; i++){
                -for(var i = 0 ; i <= 150 ; i++){
                //option(value=listpokemon.pokemon_entries[i].entry_number) #{listpokemon.pokemon_entries[i].pokemon_species.name}
                option(value=listpokemon.pokemon_entries[i].pokemon_species.name) #{listpokemon.pokemon_entries[i].pokemon_species.name}
                -}

        div
            #imagepok
                img#imagepok(src='')
        div
            p moves :
            select#AttackA1
            select#AttackA2
            select#AttackA3
            select#AttackA4
        div
            p item :
            Select#Objet1
        .Statistiques
            h3 Stats
            #speed1
            #sdefense1
            #sattack1
            #defense1
            #attack1
            #hp1
a(href='/signout', class='text-center new-account') Sign Out

