
body {
    color:black;
    background-color:white;
    background-image:url(../images/wallHome.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}